#include <windows.h>

IDI_ICON1 ICON DISCARDABLE "halla.ico"

1 VERSIONINFO
 FILEVERSION    3,13,17,0
 PRODUCTVERSION 3,13,17,0
 FILEFLAGSMASK  0x3fL
 FILEFLAGS      0x0L
 FILEOS         0x40004L
 FILETYPE       0x1L
 FILESUBTYPE    0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041604b0"
        BEGIN
            VALUE "CompanyName",      "Halla"
            VALUE "FileDescription",  "Halla - Cliente de comunicação de voz"
            VALUE "FileVersion",      "3.13.17"
            VALUE "InternalName",     "Halla"
            VALUE "LegalCopyright",   "© 2026 Halla"
            VALUE "OriginalFilename", "Halla.exe"
            VALUE "ProductName",      "Halla"
            VALUE "ProductVersion",   "3.13.17"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x416, 1200
    END
END
